body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 15vw;
  padding-right: 15vw;
  background-color: #1f2937;
  color: #f9faf8;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;

    .logo {
      font-size: 28px;
      margin: 0;
    }
    .header-links {
      display: flex;
      align-items: center;
      gap: 1em;

      a {
        text-decoration: none;
        color: #e5e7eb;
        font-size: 18px;
      }
    }
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .section-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4em;

    .description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 450px;

      .title {
        font-size: 48px;
        font-weight: 800;
        margin: 0;
      }
      .subtext {
        font-size: 18px;
        color: #e5e7eb;
      }
      button {
        padding: 0.5em;
        border-radius: 0.5em;
        background-color: #3882f6;
        color: #f9faf8;
        border-style: none;
        width: 130px;
        font-weight: 900;
        font-size: 1.1em;
      }
    }
  }

  .section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
  }

  .section-4 {
    display: flex;
    justify-content: center;
    align-items: center;

    .banner {
      display: flex;
      padding: 2em;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}
