body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 15vw;
  padding-right: 15vw;


  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .header-links {
      display: flex;
      align-items: center;
      gap: 1em;
    }
  }
  .main {
    display: flex;
    flex-direction: column;
  }
  .section-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
  }
  .section-4 {
    display: flex;
    justify-content: center;
    align-items: center;

    .banner {
      display: flex;
      padding: 2em;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}
